.menu-item {
  display: inline-block;
  position: relative;
}

.menu-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -3px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
